@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@500&family=Amatic+SC:wght@400;700&family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Caveat:wght@500;600&family=Lobster&family=Pattaya&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Prata&family=Press+Start+2P&family=Rubik+Beastly&display=swap');
.border {
    background-image: url('border.png');
    background-size: cover;
    position: absolute;
    width: 1600px;
    height: 1200px;
    left: 0;
    top:0;



}
.title {
    background-image: url('домик.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 1550px;
    height: 1150px;
    position: relative;

}
.text {
    text-align: center;
    font-family: 'Pattaya', sans-serif;
    font-size: 70px;
    position: absolute;
    left: 550px;
    top: 20%;
    color: red;
    width: 500px;
    height: 70px;
    -webkit-text-stroke: 1px white;
}

#avatar {
    
    width: 300px;
    border-radius: 50%;
    border: 5px solid white;
}
#resume {
    text-align: center;
    left:340px;
    top: 410px;
    width: 400px;
    height: 150px;
    position: absolute;
    font-family: 'Pattaya', sans-serif;
    font-style: italic;
    font-size: 38px;
    padding: 20px 10px 20px 10px;
    color:yellow;
    -webkit-text-stroke:1px white ;

}
#ava {

    width: 300px;
    height: 300px;
    position: absolute;
    top: 160px;
    left: 170px;    
}
#convert {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 225px;
    top: 938px;
    background-image: url('convert.png');
    background-size: cover;

}
#toy {
    position: absolute;
    width: 300px;
    height: 350px;
    left: 150px;
    top:750px;
}
#send {
    height: 80px;
    width: 80px;
    opacity: 0;
}
.title {z-index: -2;}
#toy {z-index: -1;};
#convert{z-index: 5;};
#border{z-index: 3;};
form:active {
    cursor:pointer;
    color: blue;
}

